/*
 * Copyright 2006-2007 by Massimiliano Mirra
 * 
 * This file is part of xmpp4moz.
 * 
 * xmpp4moz is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the
 * Free Software Foundation; either version 3 of the License, or (at your
 * option) any later version.
 * 
 * xmpp4moz is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 * 
 * Author: Massimiliano Mirra, <bard [at] hyperstruct [dot] net>
 *  
 */

menulist > #xmpp-popup-accounts > menuitem[availability="unavailable"],
menulist > #xmpp-popup-accounts-secondary > menuitem[availability="unavailable"]
{
    color: graytext ! important;
}

#xmpp-popup-accounts > menuitem[availability="unavailable"],
#xmpp-popup-accounts-secondary > menuitem[availability="unavailable"]
{
  list-style-image: url("chrome://xmpp4moz/skin/status/all-small.png"); 
  -moz-image-region: rect(48px 16px 64px 0px);
  }

#xmpp-popup-accounts > menuitem[availability="available"],
#xmpp-popup-accounts-secondary > menuitem[availability="available"]
{
  list-style-image: url("chrome://xmpp4moz/skin/status/all-small.png"); 
  -moz-image-region: rect(16px 16px 32px 0px);
  }

#xmpp-popup-accounts > menuitem[availability="available"][show="dnd"],
#xmpp-popup-accounts-secondary > menuitem[availability="available"][show="dnd"]
{
  -moz-image-region: rect(0px 16px 16px 0px);
  }

#xmpp-popup-accounts > menuitem[availability="available"][show="away"],
#xmpp-popup-accounts-secondary > menuitem[availability="available"][show="away"],
#xmpp-popup-accounts > menuitem[availability="available"][show="xa"],
#xmpp-popup-accounts-secondary > menuitem[availability="available"][show="xa"]
{
  -moz-image-region: rect(32px 16px 48px 0px);
  }
