/*
 * Copyright 2006-2007 by Massimiliano Mirra
 * 
 * This file is part of xmpp4moz.
 * 
 * xmpp4moz is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the
 * Free Software Foundation; either version 3 of the License, or (at your
 * option) any later version.
 * 
 * xmpp4moz is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 * 
 * Author: Massimiliano Mirra, <bard [at] hyperstruct [dot] net>
 *  
 */


[command="xmpp-command-open-disco"] {

}

[command="xmpp-command-open-preferences"] {

}

#xmpp-popup-accounts-secondary [role="offline"] {
    list-style-image: url("chrome://xmpp4moz/skin/status/all-small.png");
    -moz-image-region: rect(48px 16px 64px 0px);  
}

#xmpp-popup-accounts-secondary [role="dnd"] {
    list-style-image: url("chrome://xmpp4moz/skin/status/all-small.png");
    -moz-image-region: rect(0px 16px 16px 0px);
}

#xmpp-popup-accounts-secondary [role="away"] {
    list-style-image: url("chrome://xmpp4moz/skin/status/all-small.png");
    -moz-image-region: rect(32px 16px 48px 0px);
}

#xmpp-popup-accounts-secondary [role="online"] {
    list-style-image: url("chrome://xmpp4moz/skin/status/all-small.png");
    -moz-image-region: rect(16px 16px 32px 0px);
}

#xmpp-toolbox-tooltip [role="account"],
#xmpp-toolbox-tooltip [role="address"],
#xmpp-toolbox-toolbar [role="address"] {
    font-weight: bold;
}