#xmpp-button[availability="unavailable"]
{ 
  list-style-image: url("chrome://xmpp4moz/skin/status/all.png"); 
  -moz-image-region: rect(72px 24px 96px 0px);
  }

#xmpp-button[availability="available"]
{ 
  list-style-image: url("chrome://xmpp4moz/skin/status/all.png"); 
  -moz-image-region: rect(24px 24px 48px 0px);
  }

toolbar[iconsize="small"] #xmpp-button[availability="unavailable"]
{
  list-style-image: url("chrome://xmpp4moz/skin/status/all-small.png");
  -moz-image-region: rect(48px 16px 64px 0px);
  }

toolbar[iconsize="small"] #xmpp-button[availability="available"]
{
  list-style-image: url("chrome://xmpp4moz/skin/status/all-small.png");
  -moz-image-region: rect(16px 16px 32px 0px);
  }

